.background {
	background-image: url(../image/Star_of_life2.svg);
	background-repeat: no-repeat;
	width: 100%;
	height: 186vh;
	position: absolute;
	right: -50%;
	top: 405%;
	z-index: -1;
}
.mobileImg img:first-child {
	position: relative;
}
.mobileImg img:last-child {
	position: absolute;
	left: 27%;
	top: 428%;
}
.insurance h1 {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 32px;
	line-height: 38px;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 50px;
}
.insuranceBlock {
	display: flex;
	justify-content: space-around;
	margin-bottom: 145px;
}
.insuranceText p {
	width: 400px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 20px;
	line-height: 23px;
	margin-bottom: 25px;
}
.appMarket div {
	display: flex;
	column-gap: 20px;
}
.polisBlock {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 140px;
}
.polisBlock input {
	background: #ffffff;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
	border-radius: 8px;
	border: none;
	height: 20px;
	width: 480px;
	padding: 15px 0 15px 20px;
}
.polisBlock::placeholder {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: #d9d9d9;
}

.polisBlock button {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 20px;
	line-height: 23px;
	text-transform: uppercase;
	background: #ffffff;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 8px;
	padding: 20px 45px;
	margin-top: 20px;
	cursor: pointer;
	color: #008d0e;
}
.pdf h2 {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 20px;
	line-height: 23px;
	text-transform: uppercase;
	margin-right: 70px;
	width: 700px;
}
.pdf div:nth-child(2) {
	border-bottom: 2px solid #000;
	padding-bottom: 35px;
}
.pdf div:nth-child(4) {
	border-bottom: 2px solid #000;
	padding-bottom: 35px;
}
.pdf div:nth-child(6) {
	border-bottom: 2px solid #000;
	padding-bottom: 35px;
}
.pdf div {
	display: flex;
	justify-content: center;
	margin-bottom: 40px;
	align-items: center;
}
.footer{
    background: #102437;
    text-align: center;
    margin-top: 150px;
}
.footer h3 {
    padding: 20px 0;
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 20px;
	line-height: 23px;
	color: #ffffff;
}
