/* .formBlocks label {
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
}
.formBlocks input {
	background: #ffffff;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
	border-radius: 8px;
	margin-top: 10px;
	border: none;
	height: 20px;
	padding: 15px 0 15px 20px;
}
.formBlocks::placeholder {
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: #d9d9d9;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	appearance: none;
}
input:focus {
	outline: none;
} */
/* .phone{
	flex-direction:row !important;
} */
