/* .slider {
    position: relative;
    width: 100%;
    height: 100vh;
    margin: auto;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    overflow: hidden;
  }
  .slider-img img{
    width: 100%;
    height: 100vh;
  }
  .slider-img {
    position: absolute;
    width: 100%;
    height: 100vh;
    transition: all 3s;
  }
  
  .slider-img-prev {
    transform: translateX(-100%);
  }
  
  .slider-img-next {
    transform: translateX(100%);
  } */